In [1]:
# Read different types of files csvdata,tsv,excel,json

In [1]:
import pandas as pd

In [2]:
# Read csv via read_csv
csvdata = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_products.csv')

In [3]:
csvdata

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2.091470e+12,ForestGreen,Large,pre_order,56
1,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5.286200e+12,Black,8x10 in,in_stock,29
2,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1.282900e+12,SlateGray,XS,in_stock,70
3,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3.879180e+12,PaleGreen,L,discontinued,31
4,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9.055770e+12,SeaShell,100x200 mm,discontinued,10
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Router,Investment everything story buy.,Atkinson Inc,Laptops & Computers,375,USD,703,3.330400e+12,Gainsboro,8x10 in,limited_stock,55
96,Fast Thermostat Microphone Scooter,Nature notice themselves news.,Shea Ltd,Beauty & Personal Care,289,USD,727,9.265400e+12,White,Extra Large,backorder,25
97,Eco Heater Toaster Stove Silent Sense,Understand still or summer rule.,West Ltd,Cleaning Supplies,232,USD,998,5.505870e+12,OldLace,Small,limited_stock,20
98,Clean Blender Scale Lite,Final art some push.,"Bell, Gamble and Barrett",Camping & Hiking,241,USD,391,3.893590e+12,Aquamarine,5x7 in,limited_stock,5
99,Smart Lamp,However public major baby.,"Hebert, Hughes and Trujillo",Bedding & Bath,71,USD,518,8.264260e+12,Brown,Medium,limited_stock,3

In [4]:
# Read text file with commas via read_csv
txtcomdata = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_products_comma.txt')

In [5]:
txtcomdata

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
Compact Printer Air Advanced Digital,Situation organization these memory much off.,Garner,Boyle and Flynn,Books & Stationery,265,USD,7.740000e+02,2.09E+12,ForestGreen,Large,pre_order,56.0
Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5.290000e+12,Black,8x10 in,in_stock,29,NaN
Smart Blender Cooker,No situation per.,Lawson,Keller and Winters,Kitchen Appliances,227,USD,7.260000e+02,1.28E+12,SlateGray,XS,in_stock,70.0
Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3.880000e+12,PaleGreen,L,discontinued,31,NaN
Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9.060000e+12,SeaShell,100x200 mm,discontinued,10,NaN

In [6]:
# Read text file with semicolon via read_csv
txtsemidata = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_products_semi.txt')

In [7]:
txtsemidata

  Name;Description;Brand;Category;Price;Currency;Stock;EAN;Color;Size;Availability;Internal ID
0  Compact Printer Air Advanced Digital;Situation...
1  Tablet;Discussion loss politics free one thous...
2  Smart Blender Cooker;No situation per.;Lawson;...
3  Advanced Router Rechargeable;For force gas ene...
4  Portable Mouse Monitor Phone;Feeling back reli...

In [8]:
# Read text file with semicolon via read_csv by adding separator
txtsemidata = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_products_semi.txt',sep = ';')

In [9]:
txtsemidata

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
Compact Printer Air Advanced Digital,Situation organization these memory much off.,Garner,Boyle and Flynn,Books & Stationery,265,USD,7.740000e+02,2.09E+12,ForestGreen,Large,pre_order,56.0
Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5.290000e+12,Black,8x10 in,in_stock,29,NaN
Smart Blender Cooker,No situation per.,Lawson,Keller and Winters,Kitchen Appliances,227,USD,7.260000e+02,1.28E+12,SlateGray,XS,in_stock,70.0
Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3.880000e+12,PaleGreen,L,discontinued,31,NaN
Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9.060000e+12,SeaShell,100x200 mm,discontinued,10,NaN

In [10]:
# Read text file with tab via read_csv by adding separator
txttabdata = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_products_tab.txt',sep = '\t')

In [11]:
txttabdata

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2.090000e+12,ForestGreen,Large,pre_order,56
1,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5.290000e+12,Black,8x10 in,in_stock,29
2,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1.280000e+12,SlateGray,XS,in_stock,70
3,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3.880000e+12,PaleGreen,L,discontinued,31
4,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9.060000e+12,SeaShell,100x200 mm,discontinued,10
5,Radio,Character prove growth contain serious customer.,"Benjamin, Nelson and Hancock",Skincare,426,USD,549,1.150000e+12,CornflowerBlue,30x40 cm,pre_order,60
6,Ultra Projector Oven Thermostat Prime Advanced,Pattern possible look necessary indicate work ...,"Mccoy, Waters and Rose",Laptops & Computers,68,USD,870,5.030000e+12,Purple,S,discontinued,86
7,Webcam Stove Grill,Deep area join carry age.,Morrow and Sons,Automotive,159,USD,584,9.880000e+12,MediumOrchid,8x10 in,pre_order,50
8,Eco Radio,Know father for act let.,"Edwards, Odonnell and Conley",Skincare,454,USD,499,1.770000e+12,DimGray,Medium,pre_order,88

In [24]:
txttabdata = pd.read_table('C:/Users/KAMPLI ENTERPRISES/PycharmProjects/Files/products_tab.txt', sep = '\t')

In [12]:
txttabdata

,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2.090000e+12,ForestGreen,Large,pre_order,56
1,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5.290000e+12,Black,8x10 in,in_stock,29
2,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1.280000e+12,SlateGray,XS,in_stock,70
3,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3.880000e+12,PaleGreen,L,discontinued,31
4,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9.060000e+12,SeaShell,100x200 mm,discontinued,10
5,Radio,Character prove growth contain serious customer.,"Benjamin, Nelson and Hancock",Skincare,426,USD,549,1.150000e+12,CornflowerBlue,30x40 cm,pre_order,60
6,Ultra Projector Oven Thermostat Prime Advanced,Pattern possible look necessary indicate work ...,"Mccoy, Waters and Rose",Laptops & Computers,68,USD,870,5.030000e+12,Purple,S,discontinued,86
7,Webcam Stove Grill,Deep area join carry age.,Morrow and Sons,Automotive,159,USD,584,9.880000e+12,MediumOrchid,8x10 in,pre_order,50
8,Eco Radio,Know father for act let.,"Edwards, Odonnell and Conley",Skincare,454,USD,499,1.770000e+12,DimGray,Medium,pre_order,88

In [16]:
# Read excel via read_exel
exceldata = pd.read_excel('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_Orders.xlsx')

In [17]:
exceldata

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
0,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Small Business,Office Supplies
1,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Corporate,Office Supplies
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
5,32,2011-07-15,15,140.5600,Regular Air,-128.380,8.46,Liz Pelletier,Corporate,Technology
6,35,2011-10-22,30,288.5600,Regular Air,60.720,9.11,Julie Creighton,Corporate,Office Supplies
7,35,2011-10-22,14,1892.8480,Regular Air,48.987,155.99,Julie Creighton,Corporate,Technology
8,36,2011-11-02,46,2484.7455,Regular Air,657.477,65.99,Sample Company A,Home Office,Technology
9,65,2011-03-17,32,3812.7300,Regular Air,1470.300,115.79,Tamara Dahlen,Corporate,Technology

In [19]:
 #Read json file read_json
jsondata = pd.read_json('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_employeeData.json')

In [20]:
jsondata

                                            employees
0   {'id': 100, 'FIRST_NAME': 'Steven', 'LAST_NAME...
1   {'id': 101, 'FIRST_NAME': 'Neena', 'LAST_NAME'...
2   {'id': 102, 'FIRST_NAME': 'Lex', 'LAST_NAME': ...
3   {'id': 103, 'FIRST_NAME': 'Alexander', 'LAST_N...
4   {'id': 105, 'FIRST_NAME': 'David', 'LAST_NAME'...
5   {'id': 106, 'FIRST_NAME': 'Valli', 'LAST_NAME'...
6   {'id': 107, 'FIRST_NAME': 'Diana', 'LAST_NAME'...
7   {'id': 108, 'FIRST_NAME': 'Nancy', 'LAST_NAME'...
8   {'id': 109, 'FIRST_NAME': 'Daniel', 'LAST_NAME...
9   {'id': 110, 'FIRST_NAME': 'John', 'LAST_NAME':...
10  {'id': 111, 'FIRST_NAME': 'Ismael', 'LAST_NAME...
11  {'id': 112, 'FIRST_NAME': 'Jose Manuel', 'LAST...
12  {'id': 113, 'FIRST_NAME': 'Luis', 'LAST_NAME':...
13  {'id': 114, 'FIRST_NAME': 'Den', 'LAST_NAME': ...
14  {'id': 115, 'FIRST_NAME': 'Alexander', 'LAST_N...
15  {'id': 116, 'FIRST_NAME': 'Shelli', 'LAST_NAME...
16  {'id': 117, 'FIRST_NAME': 'Sigal', 'LAST_NAME'...
17  {'id': 118, 'FIRST_NAME': 'Guy', 'LAST_NAME': ...
18  {'id': 119, 'FIRST_NAME': 'Karen', 'LAST_NAME'...
19  {'id': 120, 'FIRST_NAME': 'Matthew', 'LAST_NAM...

In [52]:
# write json data to csv

In [21]:
jsondata = pd.read_json('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_employeeData.json')

In [23]:
jsondata.to_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/OutputFiles/04_jsoncsvdata.csv')

In [58]:
# read tsv data without header

In [24]:
tsvdata = pd.read_table('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_people_tab.txt')

In [25]:
tsvdata

,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
1,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
2,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
3,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon

In [63]:
# add header to tsv data

In [26]:
tsvdata = pd.read_table('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_people_tab.txt', header = None)

In [27]:
tsvdata

,0,1,2,3,4,5,6,7
0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon

In [66]:
# add custome columns for header

In [28]:
cols = ['Id','First','Last','Gender','Email','Phone','DOB','JObTitle']
tsvdata = pd.read_table('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/04_people_tab.txt', header = None, names = cols )

In [29]:
tsvdata

,Id,First,Last,Gender,Email,Phone,DOB,JObTitle
0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon